Django==3.1.6
celery==5.0.5
cryptography==3.4.4
django-authtools==1.7.0
django-debug-toolbar==3.2
django-environ==0.4.5
django-filter==2.4.0
django-model-utils==4.1.1
djangorestframework-camel-case==1.2.0
djangorestframework==3.12.2
docutils==0.16
drf-yasg[validation]==1.20.0
ethereum==2.3.2
factory-boy==3.2.0
firebase-admin==4.5.1
gnosis-py==2.7.7
gunicorn[gevent]==20.0.4
jsonschema==3.2.0
psycopg2-binary==2.8.6
redis==3.5.3
requests==2.25.1
web3==5.16.0
